<section id="about" class="about wrapper pb-3">
  <div class="container pt-4">
    <div class="row">
      <div class="col-4 text-center">
        <img src="{{person?.photo}}" alt="{{person?.name}} {{person?.surname}}"
          class="img-fluid rounded-circle .mt-n5 img-perfil">
        <h1 class="mt-3 mb-0">{{person?.name}} {{person?.surname}}</h1>
        <h4 class="text-dark">{{person?.degree}}</h4>
      </div>
      <div class="col-8 mt-3">
        <h2>{{title}}</h2>
        <p>{{person?.info}}</p>
        <div class="d-flex justify-content-start" *ngIf="isLogged">
          <button type="button" class="btn btn-outline-secondary fw-bolder" routerLink="/update-about/{{person?.id}}">
            <fa-icon [icon]="faPen" size="1x"></fa-icon> Editar Perfil
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
