1<app-header></app-header>
<main>
  <section id="update-about" class="update-about wrapper py-3 bg-white form" *ngIf="person">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container py-3 px-3 mt-4">
            <div class="row">
              <div class="col position-relative">
                <a class="color-primary fw-bolder position-fixed" routerLink="/"><fa-icon [icon]="faChevronLeft" size="1x"></fa-icon>
                  Volver al Portfolio</a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-xs-3 form-left">
              </div>
              <div class="col-6 col-xs-6 form-right">
                <h2 class="text-center text-secondary">{{title}}</h2>
                <form (ngSubmit)="updatePerson()" novalidate #updateForm="ngForm">
                  <div class="form-group">
                    <label class="fw-bolder" for="name">Nombre:</label>
                    <input type="text" class="form-control" id="name" name="name"
                      [(ngModel)]="person!.name" required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="surname">Apellido:</label>
                    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="person!.surname"
                      required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="degree">Título:</label>
                    <input type="text" class="form-control" id="degree" name="degree"
                      [(ngModel)]="person!.degree" required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="info">Sobre mi:</label>
                      <textarea class="form-control" id="info" name="info" [(ngModel)]="person!.info"
                      required rows="10"></textarea>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder d-flex justify-content-between align-items-center form-image" for="photo">Foto de perfil: <img [src]="imageService.url.includes('perfil') ? imageService.url : person.photo" alt="{{person.name}} {{person.surname}}" title="Click para subir imagen" class="img-fluid"></label>
                    <input type="file" class="form-control" id="photo" name="photo" [(ngModel)]="person!.photo"
                    (change)="uploadImage($event)" accept=".jpg, jpeg, .png, .svg, .gif">
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary" [disabled]="!updateForm.valid"><fa-icon [icon]="faSave"
                        size="1x"></fa-icon> Guardar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
