<footer class="wrapper text-bg-dark p-4">
  <div class="container text-center">
    <div class="row">
      <div class="col text-white">
        <a href="https://www.linkedin.com/in/luckidetrenque" class="pe-1 social-link linkedin" title="Mira mi perfil en Linkedin" target="_blank">
          <fa-icon [icon]="faLinkedin" size="1x"></fa-icon>
        </a>
        <a href="https://github.com/luckidetrenque" class="ps-1 social-link github" title="Mira mis proyectos en Github" target="_blank">
          <fa-icon [icon]="faGithub" size="1x"></fa-icon>
        </a>
        <small class="ms-3">
          Luciano Rodríguez &copy; 2023 - Argentina Programa 3.0 - #YoProgramo
        </small>
      </div>
    </div>

  </div>
</footer>
