<a href="https://www.linkedin.com/in/luckidetrenque" class="p-2 social-link linkedin" title="Mi perfil en Linkedin" target="_blank">
  <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
</a>
<a href="https://github.com/luckidetrenque" class="p-2 social-link github" title="Mis proyectos en Github" target="_blank">
  <fa-icon [icon]="faGithub" size="2x"></fa-icon>
</a>
<!-- <a href="#" class="p-2 social-link twitter" title="Seguime en Twitter">
  <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
</a>
<a href="#" class="p-2 social-link facebook" title="Seguime en Facebook">
  <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
</a>
<a href="#" class="p-2 social-link instagram" title="Seguime en Instagram">
  <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
</a> -->
