<section id="education" class="education wrapper pb-5">
  <div class="skew-right"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="text-center">{{title}}</h2>
        <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="isLogged">
          <button type="button" class="btn btn-secondary fw-bolder me-1" routerLink="/create-education">
            <fa-icon [icon]="faPlus" size="1x"></fa-icon> Nueva Educación
          </button>
          <a href="https://firebasestorage.googleapis.com/v0/b/lr-portfolio-frontend.appspot.com/o/pdfs%2Fcertificados.pdf?alt=media&token=5a703bec-8aa7-42b1-ba8d-afca3414baf9" download="Certificaciones Cursos.pdf"
            class="fw-bolder ms-1"><fa-icon [icon]="faDownload" size="1x"></fa-icon> Certificados <em>(7.02 Mb)</em></a>
        </div>
      </div>
    </div>
    <div class="row gx-3 gy-3 justify-content-center">
      <div class="col-12 col-xs-12 col-md-6 col-lg-4 col-xl-3 d-flex align-self-stretch" *ngFor="let education of educations">
        <div class="card text-center pt-3">
          <img src="{{education.logo}}" class="card-img-top img-fluid mx-auto"
            alt="{{education.institution}}" title="{{education.institution}}">
          <div class="card-body">
            <h5 class="card-title">{{education.degree}}</h5>
            <p class="card-text">{{education.institution}}</p>
            <p class="card-text fw-bolder" *ngIf="education.dateFrom == education.dateTo">Período: {{education.dateTo}}</p>
            <p class="card-text fw-bolder" *ngIf="education.dateFrom != education.dateTo">Período: {{education.dateFrom}} -
              {{education.dateTo}}</p>
            <div class="d-flex justify-content-center" *ngIf="isLogged">
              <button type="button" class="btn btn-outline-secondary fw-bolder me-1"
                routerLink="/update-education/{{education.id}}" title="Editar {{education.degree}}">
                <fa-icon [icon]="faPen" size="1x"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-danger fw-bolder ms-1"
                (click)="deleteEducation(education.id)" title="¿Eliminar {{education.degree}}?">
                <fa-icon [icon]="faTrash" size="1x"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-3" *ngIf="educations?.length == 0">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">¡No se encontró {{title}} en la Base de Datos!</h4>
          <p><a routerLink="/login">Iniciar sesión</a> para cargar {{title}}.</p>
        </div>
      </div>
    </div>
  </div>
</section>
