<app-header></app-header>
<main>
  <section id="create-experience" class="create-experience wrapper py-3 bg-white form">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container py-3 px-3 mt-5">
            <div class="row">
              <div class="col position-relative">
                <a class="color-primary fw-bolder position-fixed" routerLink="/"><fa-icon [icon]="faChevronLeft" size="1x"></fa-icon>
                  Volver al Portfolio</a>
              </div>
            </div>
            <div class="row">
              <div class="col-6 col-xs-3 form-left">
              </div>
              <div class="col-6 col-xs-6 form-right">
                <h2 class="text-center text-secondary">{{title}}</h2>
                <form (ngSubmit)="createExperience()" novalidate #createForm="ngForm">
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="company">Nombre de la empresa:</label>
                    <input type="text" class="form-control" id="company" name="company"
                      [(ngModel)]="company" placeholder="Empresa" required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="position">Puesto o Cargo:</label>
                    <input type="text" class="form-control" id="position" name="position" [(ngModel)]="position"
                      placeholder="Puesto o Cargo" required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="description">Descripción de tareas:</label>
                      <textarea class="form-control" id="description" name="description" [(ngModel)]="description"
                      placeholder="Tareas  desempeñadas" required rows="4"></textarea>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="dateFrom">Año de inicio:</label>
                    <input type="number" class="form-control" id="dateFrom" name="dateFrom" [(ngModel)]="dateFrom"
                      placeholder="Desde el año" required>
                  </div>
                  <div class="form-group mt-2">
                    <label class="fw-bolder" for="dateTo">Año de finalización:</label>
                    <input type="number" class="form-control" id="dateTo" name="dateTo" [(ngModel)]="dateTo"
                      placeholder="Hasta el año" required>
                  </div>
                  <div class="form-group mt-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!createForm.valid"><fa-icon
                        [icon]="faPlus" size="1x"></fa-icon> Agregar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
